<div class="main-container">
  <div class="card-container">
    <div class="row">
      <% data.cities.each do |city| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: url(<%= city.picture %>);">
            <%= city.name %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
